#cover {
    display: flex;
}

#list {
    display: flex;
    flex-wrap: wrap;
    width: 64%;
    height: 50%;
}

#calendar {
    width: 36%;
    height: 86vh;
    margin-top: 1%;
}

.list-item {
    width: 18vw;
    border-radius: 4px;
    margin: 2% 2% 1% 1%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.title {
    color: black;
    padding: 3%;
    font-size: 21px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 8%;
}

.title:focus {
    outline: none;
}

.bodyText {
    display: flex;
    padding: 3%;
    flex-direction: column;
    font-family: sans-serif;
    border-radius: 2px 0px 15px 15px;
}

.image {
    width: 100%;
}

.label-box {
    font-size: 14px;
    margin-top: 1%;
}

#comment-box {
    font-size: 14px;
    margin-top: 4%;
}

#comment {
    color: grey;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 13px;
}

#comment:focus {
    outline: none;
}

#start {
    color: grey;
    margin-top: 1%;
    font-size: 13px;
}

#duration {
    color: grey;
    margin-top: 1%;
    font-size: 13px;
}

.action-div {
    text-align: end;
}

.btns {
    background: #a9a9a936;
    margin-top: 3%;
    padding: 0.5em 1.2em;
    color: grey;
    border: none;
    margin-left: 2%;
    border-radius: 50px;
}

.btns:hover {
    cursor: pointer;
    background: #a9a9a97a;
    color: black;
}

.btns:focus {
    outline: none;
}

.header {
    display: flex;
}

.logo {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin: 2%;
}

.text-box {
    display: flex;
    justify-content: space-between;
}

#pagination-box {
    margin-left: 21%;
}