<div id="cover">
    <div id="list">
        <div class="list-item" *ngFor="let trip of trips | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="header">
                <img class="logo" src="assets/image/logo.jpg" alt="">
                <div class="title" contenteditable="true" (input)="trip.destination = $event.target.innerText">
                    {{trip.destination}}
                </div>
            </div>
            <img class="image" src="assets/image/trip.jpg" alt="">
            <div class="bodyText">
                <div class="text-box">
                    <label class="label-box" for="start">Start:</label>
                    <span id="start">{{trip.start |date}}</span>

                    <label class="label-box" for="duration">Duration:</label>
                    <span id="duration">{{trip.duration}}</span>
                </div>
                <label id="comment-box" for="comment">Comment:</label>
                <span id="comment" contenteditable="true" (input)="trip.comment = $event.target.innerText">{{trip.comment}}</span>

                <div class="action-div">
                    <button class="btns" (click)="updateTrip(trip)">Edit</button>
                    <button class="btns" (click)="deleteTrip(trip.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div id="calendar">
        <app-calendar [tripList]="trips"></app-calendar>
    </div>
</div>
<div id="pagination-box">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>