/* You can add global styles to this file, and also import other style files */

mwl-calendar-event-title:focus {
    outline: none !important;
    text-decoration: none !important;
    cursor: default !important;
}

mwl-calendar-event-title:hover {
    text-decoration: none !important;
}

.cal-month-view {
    height: 89vh;
    overflow-y: scroll;
}

.cal-month-view .bg-blue {
    background-color: #66abff91 !important;
}