.row {
    font-size: 21px;
    font-weight: 600;
    padding: 2%;
    width: 79%;
}

.events-box {
    display: flex;
    margin-bottom: 1%;
}

.btn-group {
    display: flex;
    margin: 2%;
    width: 50%;
}

.btn-primary {
    background: #66abffa6;
    padding: 3%;
    color: white;
    font-size: 14px;
    border-left: 1px solid white;
}

.btn-primary:hover {
    cursor: pointer;
}