.row {
    font-size: 21px;
    font-weight: 600;
    padding: 2%;
    text-align: center;
}

.events-box {
    margin-bottom: 1%;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.btn-primary {
    background: #5ab5e6;
    padding: 0.5em 1em;
    color: white;
    font-size: 14px;
    border-left: 1px solid white;
    border-radius: 50px;
}

.btn-primary:hover {
    cursor: pointer;
}